#main {
outline-style:dotted;
color:black;
font-family:verdana;
}
@media screen and (max-width:800px) {
.phoneview {
width:100%;
}
.phoneview_img {
width:25%;
height:25%;
}
}
a:link {
text-decoration:none;
}
a:visited {
color:green;
text-decoration:none;
}
a:hover {
text-decoration:none;
}
