#main {
outline-style:solid;
outline-color:green;
color:black;
font-family:verdana;
margin:auto;
}
@media screen and (max-width:800px) {
.phoneview {
width:100%;
margin:auto;
}
.phoneview_img {
width:25%;
height:25%;
}
}
a:link {
text-decoration:none;
}
a:visited {
color:green;
text-decoration:none;
}
a:hover {
text-decoration:none;
}
