.main {
text-align:center;
outline-style:dotted;
color:black;
font-family:verdana;
}
@media screen and (max-width:800px) {
.phoneview {
width:100%;
}
.phoneview_img {
width:25%;
height:25%;
}
}
a:link {
text-color:green;
background-color:transparent;
text-decoration:none;
}
a:visited {
text-color:purple;
background-color:transparent;
text-decoration:none;
}
a:hover {
text-color:red;
background-color:transparent;
text-decoration:none;
}
.error {
text-color:red;
text-decoration:inserted;
font-family:verdana;
}
